//QWidget
//{
  //background-color: #33ffff;
//}

//QComboBox  {
//    border: 1px solid gray;
//    border-radius: 3px;
//    padding: 1px 18px 1px 3px;
//    min-width: 6em;
//    background: #00ccff;
//    color: #0033ff;
//}
//
//QComboBox::drop-down QListView
//{
//    background: #00ccff;
//    color: #0033ff;
//    selection-background-color: #003366
//}
//
//
