body {
	font-family: Trebuchet MS;
	margin: 0 auto;
	opacity: 0;
}

#Logo {
    position: relative;
    background-image: url(/images/squarelogo.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
	margin-bottom: 20px;
    top: 10px;
    left: 0%;
    right: 0%;
	cursor: pointer;
}

#Menu {
    position: absolute;
    left: 10px;
    top: 140px;
    width: calc(100% - 20px);
}

#Menu.hide {
	display: none;
}

.Menu-Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
	cursor: pointer;
}

.Menu-Item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.Menu-Item p {
    margin: 0;
}

.Menu-Item::after {
    content: '>';
    margin-left: auto;
	margin-right: 4px;
}

.Menu-Item:hover {
    color: dodgerblue;
}

.Menu-Item:active {
    font-weight: bold;
}

#Menu-Output {
	display: none;
	opacity: 0;
	position: absolute;
	top: 140px;
	width: 100%;
	height: calc(100% - 240px);
	transition: opacity 1s ease;
}

#Menu-Output.show {
	display: block;
	opacity: 1;
}

#Menu-Output-Header {
	font-size: 150%;
	padding: 10px;
}

#Menu-Output-Content {
	padding: 10px;
	height: calc(100% - 75px);
	overflow-y: auto;
	background-color: gainsboro;
	scrollbar-color: grey transparent;
}

#Status {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	bottom: 55px;
	left: 0%;
	right: 0%;
}

#Buttons {
	display: flex;
	position: fixed;
	text-align: center;
	background-color: lightgray;
	border-style: groove;
	bottom: 0px;
	height: 50px;
	left: 0%;
	right: 0%;
	justify-content: center;
}

.Button {
	position: relative;
	margin: 0 10px;
	bottom: -5px;
	cursor: pointer;
	filter: contrast(0.1);
	transition: filter 0.5s;
}

#prev {
    position: relative;
    background-image: url(/images/player_prev.png);
    width: 40px;
    height: 40px;    
}

#play {
    position: relative;
    background-image: url(/images/player_play.png);
    width: 36px;
    height: 40px;    
}

#stop {
    position: relative;
    background-image: url(/images/player_stop.png);
    width: 40px;
    height: 40px;    
}

#next {
    position: relative;
    background-image: url(/images/player_next.png);
    width: 40px;
    height: 40px;    
}

.SongListTable {
    width: calc(100% - 15px);
}

.SongListIcon {
	width: 50px;
}

.SongListPlayButton {
	width: 36px;
}

.play_ctrl_button {
    background-image: url(/images/player_play.png);
    width: 30px;
    height: 30px;
	cursor: pointer;
}

.icon {
	background-image: url(/images/SongIcon.png);
	width:40px;
	height:40px;
}

.song {
	font-weight: bold;
}

.album {
	font-style: italic;
}

#alphabet_array {
    position: absolute;
    top: 62px;
    top: 0px;
    right: 5px;
    bottom: 10px;
    overflow-y: auto;
    max-height: -webkit-fill-available;
    margin-top: 62;
	background-color: transparent;
	scrollbar-color: transparent transparent;	
}

.alphabet-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
	cursor: pointer;
}

.alphabet-item:hover {
    color: dodgerblue;
}

.alphabet-item:active {
    font-weight: bold;
}

