body {
	font-family: Trebuchet MS;
}

table, th, td {
  width: 100%;
  border: 1px solid;
}


.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "logo logo"
  "menu alphabet"
  "output alphabet"
  "playerstatus playerstatus"
  "playercontrol playercontrol";
  grid-template-columns: auto 60px;
  grid-template-rows: 75px auto auto 150px 100px;
}
.container > div {
  border: 0px dashed #888;
}

#logo {
    grid-area: logo;
    background-image: url(/images/squarelogo.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
	margin-bottom: 10px;
    top: 10px;
    left: 0%;
    right: 0%;
	cursor: pointer;
}

#menu {
  grid-area: menu;
}
#menu.hide {
	display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
	cursor: pointer;
}

.menu-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-item p {
    margin: 0;
}

.menu-item::after {
    content: '>';
    margin-left: auto;
	margin-right: 4px;
}

.menu-item:hover {
    color: dodgerblue;
}

.menu-item:active {
    font-weight: bold;
}


#alphabet {
    overflow-y: auto;
    grid-area: alphabet;
}

.alphabet-item {
	font-size: 150%;
    display: flex;
    align-items: right;
    padding: 0px;
	cursor: pointer;
}
.alphabet-item:hover {
    color: dodgerblue;
}

.alphabet-item:active {
    font-weight: bold;
}

#output {
	transition: opacity 1s ease;
    height: -moz-calc(100vh - (75px + 150px + 100px));
    height: -webkit-calc(100vh - (75px + 150px + 100px));
	height: calc(100vh - (75px + 150px + 100px));
    overflow-y: auto;
}

#output.show {
	display: block;
	opacity: 1;
}

#output_header {
	font-size: 150%;
    grid-area: output_header;
}
#output_content {
    grid-area: output_content;
	scrollbar-color: grey transparent;
    overflow-y: auto;
}
#playerstatus {
    grid-area: playerstatus;
    align: center;
	text-align: center;
}
#playercontrol {
    grid-area: playercontrol;
    align: center;
    display: flex;
	text-align: center;
	justify-content: center;
}
.playercontrol_button {
    text-align: right;
	margin: 0 0px;
	bottom: -5px;
	cursor: pointer;
    margin-right: 0px;
}

.playercontrol_button button {
    text-align: right;
	font-size: 150%;
    type="button";
    min-width=300px;
    margin-right: 0px;
}

.SBIconDiv {
	width: 40px;
}

.SBIconCell {
    width: 40px;
	font-size: 125%;
	font-weight: bold;
}

.SBIcon {
	width:40px;
	height:40px;
}

.SBIcon:hover {
    color: dodgerblue;
}

.SBIcon:active {
    font-weight: bold;
}

.SBItemSection {
    width: 100%;
    margin-top: 10px;
	font-size: 200%;
	font-weight: bold;
}


.SBItemMajorTitleOnly {
    width: 100%;
    margin-top: 10px;
	font-size: 125%;
	font-weight: bold;
}

.SBItemMajor {
    width: 100%;
    margin-top: 10px;
	font-size: 125%;
	font-weight: bold;
}

.SBItemMajor:hover {
    color: dodgerblue;
}

.SBItemMajor:active {
    font-weight: bold;
}

.SBItemMinor {
    margin-top: 0px;
	font-weight: bold;
}

.SBItemMinor:hover {
    color: dodgerblue;
}

.SBItemMinor:active {
    font-weight: bold;
}

.item_play_button {
    cursor: pointer;
	font-size: 150%;
    type="button";
    min-width=300px;
}

.SBSongDetailTable {
    border: 1px solid;
}

.SBLyrics {
    margin-top: 0px;
	font-weight: bold;
	font-size: 125%;
}

#sb_paging_prev_ind {
    top: -9999px;
    position: absolute;
    display: none;
}

#sb_paging_next_ind {
    top: -9999px;
    position: absolute;
    display: none;
}

#sb_paging_prev_button {
    text-align: right;
	margin: 0 0px;
	bottom: -5px;
	cursor: pointer;
    max-width: 300px;
    margin-right: 0px;
}

#sb_paging_prev_button button {
    text-align: right;
	font-size: 150%;
    type="button";
    margin-right: 0px;
}

#sb_paging_next_button {
    text-align: right;
	margin: 0 0px;
	bottom: -5px;
	cursor: pointer;
    max-width: 300px;
    margin-right: 0px;
}

#sb_paging_next_button button {
    text-align: right;
	font-size: 150%;
    type="button";
    margin-right: 0px;
}

#sb_context_play_button {
    text-align: right;
	margin: 0 0px;
	bottom: -5px;
	cursor: pointer;
    margin-right: 0px;
}

#sb_context_play_button button {
    text-align: right;
	font-size: 150%;
    type="button";
    min-width=300px;
    margin-right: 0px;
}

